# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/
.env


# PDF files
*.pdf
data/*.pdf

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# IDE
.vscode/
.idea/

# Logs
*.log
